/src/DataFixtures/
/public/doc/contrats/*
!public/doc/contrats/.gitkeep
/public/img/gallery/*
!public/img/gallery/.gitkeep
/public/img/producteurs/*
!public/img/producteurs/.gitkeep

###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###

###> symfony/phpunit-bridge ###
.phpunit
/phpunit.xml
###< symfony/phpunit-bridge ###

###> symfony/web-server-bundle ###
/.web-server-pid
###< symfony/web-server-bundle ###

/.idea
###> liip/imagine-bundle ###
/public/media/cache/
###< liip/imagine-bundle ###
