/*------------------------------------*\
  #SETTINGS
\*------------------------------------*/

@import "libs/normalize.css";
@import "libs/responsive";
@import "libs/mixin";
@import "scss/fontawesome.scss";
@import "scss/solid.scss";

$carot:#f29400;
$grass:#8bc636;

@font-face {
  font-family: "Cabo";
  src: url('../fonts/cabo/Cabo.woff') format("woff");
  src: url('../fonts/cabo/Cabo.woff2') format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Smoothie";
  src: url('../fonts/smoothie/Smoothie.woff') format('woff');
  src: url('../fonts/smoothie/Smoothie.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

/*------------------------------------*\
  #GLOBAL
\*------------------------------------*/

* {
  -webkit-box-sizing: border-box; /* Android ≤ 2.3, iOS ≤ 4 */
  -moz-box-sizing: border-box; /* Firefox 1+ */
  box-sizing: border-box; /* Chrome, IE 8+, Opera, Safari 5.1 */
}

body {
  background: url(../img/bg-body.svg);
}

h1{
  color: $carot;
}