/* Error: expected ";".
 *     ,
 * 570 |   animation: spin 1s infinite;
 *     |            ^
 *     '
 *   public\style\style.scss 570:12  root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: 'Error: expected ";".\a     \2577 \a 570 \2502    animation: spin 1s infinite;\d\a     \2502             ^\a     \2575 \a   public\\style\\style.scss 570:12  root stylesheet';
}
