@import "libs/normalize.css";
@import "libs/responsive";
@import "libs/mixin";
@import "scss/fontawesome.scss";
@import "scss/solid.scss";


$carot:#f29400;
$grass:#8bc636;

@font-face {
  font-family: "Cabo";
  src: url('../fonts/cabo/Cabo.woff') format("woff");
  src: url('../fonts/cabo/Cabo.woff2') format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Smoothie";
  src: url('../fonts/smoothie/Smoothie.woff') format('woff');
  src: url('../fonts/smoothie/Smoothie.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

/*GENERAL*/

* {
  -webkit-box-sizing: border-box; /* Android ≤ 2.3, iOS ≤ 4 */
  -moz-box-sizing: border-box; /* Firefox 1+ */
  box-sizing: border-box; /* Chrome, IE 8+, Opera, Safari 5.1 */
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  margin: 0 auto;
  text-align: justify;
  background: url(../img/bg-body.svg);
}

main{
  max-width: 80%;
  margin: 0 auto;
  min-height: 59vh;
}
img {
  max-width: 100%;
  margin: 0 auto;
}

h1{
  @include hidden();
}

h2{
  color: $carot;
  margin: 15px;
  text-align: center;
  font-size: 2em;
  font-family: 'Smoothie', sans-serif;
}

a {
  text-decoration: none;
  font-weight: bold;
  color: $grass;

  &:hover {
    color: $grass;
  }
}

ul{
  padding: 0;
  margin: 0;
  list-style: none;
}

section{
  margin: 30px;
}

span{
  font-weight: bold;
  color: $carot;
}

.flex{
  @include flex();
  justify-content: space-evenly;
  flex-direction: column;
  text-align: center;
}

.little-title{
  color: $carot;
  font-style: italic;
  font-size: 4rem;
  font-family: 'Smoothie', sans-serif;
  grid-area: little-title;
}

.btn {
  border: 2px solid #673b15;
  font-size: 1.8rem;
  font-weight: bold;
  margin: 10px auto;
  background: $carot;
  color: #fff;

  &:hover{
    color:#fff;
    background: darken($carot, 5);
  }
}
/*ADMIN*/
.admin-form{
  display: inline-block;

  .btn-danger{
    background: red;
  }
}

.connection{
  margin: 0 auto;
}

.form_container{
  input, select{
    font-size: 1em;
  }

  .row{
    align-items: center;
  }

  .new{
    margin-top: 10px;
  }
}

.contract-btn{
  border: 2px solid #673b15;
  border-radius: 50%;
  background: #f29400;
  color: #fff;
  text-decoration: none;
  font-size: 20px;
  font-weight: bold;
}

/*HEADER*/
header{
  @include flex();
  justify-content: center;
  flex-direction: column;
}

nav {
  a{
    font-family: "Cabo", sans-serif;
    letter-spacing: 3px;
    font-size: 2.5rem;
  }

  ul{
    width: 100%;
    justify-content: space-around;
  }
}

.bg-light {
  background-color: #97bf0d !important;
  text-transform: uppercase;
}

.navbar-dark .navbar-nav .nav-link {
  color: #fff;
  font-size: 1.5em;

  &:hover {
    color: #673b15;
    -moz-transform: translateY(5px);
    -webkit-transform: translateY(5px);
    -o-transform: translateY(5px);
    -ms-transform: translateY(5px);
    transform: translateY(5px);
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
  }

  &.active{
    color: #673b15;
  }
}

/*HOME*/

#home{
  ul{
    width: 70%;
    margin: 0 auto;
  }

  li{
    margin: 15px 0;
  }
}

.news {
  width: 20%;
  top: 10%;
  right: 70%;
  position: absolute;
}

  .news-message{
    font-weight: bold;
  }

  .scroll-text {
    animation: scrollText 10s linear infinite;
    overflow: hidden;
    text-align: center;
  }

  .scroll-wrapper {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
  }

  @keyframes scrollText {
    0% {transform: translateX(40%)}
    100% {transform: translateX(-100%)}
  }

/*EXPLAIN*/

.btn-list{
  @include flex;
  justify-content: space-evenly;
}

/*PRODUCTOR*/

.table{
  thead>tr>th:first-child{
    width:25%
  }

  thead>tr>th:nth-child(2){
    width: 45%;
  }

  thead>tr>th:last-child{
    width: 15%;
  }

  td{
    vertical-align: middle;
  }

  figcaption{
    text-align: center;
  }

  ul{
    @include flex;
    flex-direction: column;
  }

  caption{
    @include hidden();
  }
}

@media  #{$medium-down}{

  /* Force table to not be like tables anymore */
  table, thead, tbody, th, td, tr {
    display: block;
  }

  /* Hide table headers (but not display: none;, for accessibility) */
  thead tr {
    position: absolute;
    top: -9999px;
    left: -9999px;
  }

  tr { border: 1px solid #ccc; }

  td {
    /* Behave  like a "row" */
    border: none;
    border-bottom: 1px solid #eee;
    position: relative;
    padding-left: 50%;
  }

  td:before {
    /* Now like a table header */
    position: absolute;
    /* Top/left values mimic padding */
    top: 6px;
    left: 6px;
    width: 45%;
    padding-right: 10px;
    white-space: nowrap;
  }

  /*
  Label the data
  */
  td:nth-of-type(1):before { content: ""; }
  td:nth-of-type(2):before { content: ""; }
  td:nth-of-type(3):before { content: ""; }
  td:nth-of-type(4):before { content: ""; }

  .img-label{
    width: 30%;
  }
}

/*GALERIE*/

#photos {
  line-height: 0;
  -webkit-column-count: 5;
  -webkit-column-gap: 5px;
  -moz-column-count: 5;
  -moz-column-gap: 5px;
  column-count: 5;
  column-gap: 5px;

  .myImg {
    cursor: pointer;
    transition: 0.3s;
    margin: 5px;

    &:hover {
      opacity: 0.7;
    }
  }

  .diapo-img {
    filter: brightness(100%);
  }

  /* Unopened lightbox */
  .lightbox {
    display: none;
  }

  /* Opened lightbox */
  .lightbox:target {
    position: absolute;
    left: 33%;
    top: 25%;
    width: 30%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  /* Close button */
  .lightbox .close {
    position: relative;
    display: block;
  }

  .lightbox .close::after {
    right: -1rem;
    top: -3rem;
    width: 3rem;
    height: 3rem;
    position: absolute;
    display: flex;
    z-index: 1;
    align-items: center;
    justify-content: center;
    background-color: black;
    border-radius: 50%;
    color: white;
    content: "×";
    cursor: pointer;
  }

  /* Lightbox overlay */
  .lightbox .close::before {
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    position: fixed;
    background-color: rgba(0, 0, 0, .7);
    content: "";
    cursor: default;
  }

  figure{
    figcaption{
      background-color: #222;
      color: #fff;
      padding: 15px;
      text-align: center;
      position: relative;
    }
  }

  .box-caption {
    position: absolute;
    bottom: 0;
    left: 0;
    background: rgba(80, 80, 80, 0.75);
    width: 100%;
  }
}

@media (max-width: 1000px) {
  #photos {
    -moz-column-count:    3;
    -webkit-column-count: 3;
    column-count:         3;
  }
}
@media (max-width: 800px) {
  #photos {
    -moz-column-count:    2;
    -webkit-column-count: 2;
    column-count:         2;
  }
}
@media (max-width: 400px) {
  #photos {
    -moz-column-count:    1;
    -webkit-column-count: 1;
    column-count:         1;
  }
}

/*CONTACT*/
.form-container{
  display:flex;
  text-align: center;
  justify-content: space-between;

  aside{
    width: 100%;
  }

  iframe{
    width: 100%;
    margin: 0 15px;
  }

  form{
    width: 100%;
    margin: 0 15px;
  }

  label{
    @include hidden();
  }

  input{
    font-size: 2rem;
    margin: 5px 0;
  }

  textarea{
    font-size: 2rem;
    width: 100%;
    height: 37%;
  }

  .fas, .fab{
    font-size: 4rem;
    color: #8bc636;
  }
}

.tools{
  @include flex;
  justify-content: space-around;
  margin-top: 70px;

  .fas, .fab{
    font-size: 4rem;
    color: #8bc636;
  }

  a{
    font-size: 2rem;
  }

  li{
    margin: 20px 0;
  }
}

/*STATUTS*/
#status{
  text-align: left;

  h3{
    margin: 15px 0;
  }

  ul{
    list-style: inside;
    margin-left: 15px;
  }

  figure{
    text-align: center;
  }
}

/*LEGAL*/
#legal{
  text-align: left;
}

/*FOOTER*/
footer {
  text-align: center;
  background-color: #97bf0d;
  color: #fff;
  padding: 10px 0;

  ul {
    @include flex;
    justify-content: space-evenly;
  }

  .credit{
    color: #fff;
  }
}

/*LOADER*/

.loader {
  width: 80px;
  height: 80px;
  border: 2px solid $carot;
  border-top: 3px solid $grass;
  border-radius: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  animation: spin 1s infinite;
}

@keyframes spin {
  from{
    transform: rotate(0deg);
  }to{
     transform: rotate(360deg);
   }
}

#overlay{
  height: 100%;
  width: 100%;
  background: url(../img/bg-body.svg);
  position: fixed;
  left: 0;
  top: 0;
}

/*BOUTON SCROLL*/

.scrollUp {
  width: 40px;
  height: 40px;
  position: fixed;
  bottom: 20px;
  right: 25px;
  display: none;
  color: white;
  background-color: $carot;
  border: 1px solid #CFCDC9;
  text-align: center;
  line-height: 37px;

    &:hover {
      color: white;
      cursor: pointer;
    }
}

/*UNDERLINE EFFECT*/

.underline{
  color: rgb(151, 191, 13);
  text-decoration: none;
  background: linear-gradient(to top, rgba(151, 191, 13, 0.5) 0%,
          rgba(151, 191, 13, 0.5) 10%, transparent 10.01%) no-repeat left bottom / 0 100%;
  transition: background-size .3s;
  font-weight: bold;

  &:hover {
    text-decoration: none;
    background-size: 100% 100%;
  }
}

/*REVEAL*/
.reveal-loaded .reveal [class*="reveal-"] {
  opacity: 0!important;
  transform: translateY(30px)!important;
  transition: 0s!important;
}

.reveal-loaded [class*="reveal-"]{
  transition: 1s cubic-bezier(.5,0,0,1);
}

.reveal-loaded .reveal-2 {
  transition-delay: .2s;
}

.reveal-loaded .reveal-3 {
  transition-delay: .3s;
}

.reveal-loaded .reveal-4 {
  transition-delay: .4s;
}

.reveal-loaded .reveal-5 {
  transition-delay: .5s;
}

.reveal-loaded .reveal-6 {
  transition-delay: .6s;
}

.reveal-loaded .reveal-7 {
  transition-delay: .7s;
}

@media #{$large-up} {
  .section-divider{
    display: flex;
  }
}

@media  #{$medium-down}{
  .news{
    position: initial;
    margin: 15px auto;
    width: 80%;
  }

  .section-divider{
    display: block;
  }
}

@media #{$small-down} {

  #home{
    article{
      width: 100%;
    }
  }

  .form-container{
    display: block;
    margin: 0 auto;

    form{
      width: 100%;
      margin: 0 auto;
    }
  }

  .section-divider{
    display: block;
  }

  .tools{
    flex-direction: column;
    text-align: center;
  }
}