@import "libs/normalize.css";
@import "libs/responsive";
@import "scss/fontawesome.scss";
@import "scss/solid.scss";
@import "libs/mixin";

$carot:#f29400;
$grass:#8bc636;

@font-face {
  font-family: "Cabo";
  src: url('../fonts/cabo/Cabo.woff') format("woff");
  src: url('../fonts/cabo/Cabo.woff2') format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Smoothie";
  src: url('../fonts/smoothie/Smoothie.woff') format('woff');
  src: url('../fonts/smoothie/Smoothie.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

/*GENERAL*/

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  margin: 0 auto;
  text-align: justify;
  background: url(../img/bg-body.svg);
}

main{
  max-width: 80%;
  margin: 0 auto;
  min-height: 59vh;
}
img {
  max-width: 100%;
  margin: 0 auto;
}

h1{
  @include hidden();
}

h2{
  color: $carot;
  margin: 15px;
  text-align: center;
  font-size: 2em;
  font-family: 'Smoothie', sans-serif;
}

a {
  text-decoration: none;
  font-weight: bold;
  color: $grass;

  &:hover {
    color: $grass;
  }
}

ul{
  padding: 0;
  margin: 0;
  list-style: none;
  text-decoration: none;
}

section{
  margin: 30px;
}

.flex{
  @include flex();
  justify-content: space-evenly;
  flex-direction: column;
  text-align: center;
}

.title{
  color: $carot;
  margin: 15px;
  text-align: center;
  font-size: 2em;
  font-family: 'Smoothie', sans-serif;
}

.btn {
  border: 2px solid #673b15;
  font-size: 1.8rem;
  font-weight: bold;
  margin: 10px auto;
  background: $carot;
  color: #fff;

  &:hover{
    color:#fff;
    background: darken($carot, 5);
  }
}
/*ADMIN*/
.admin-form{
  display: inline-block;

  .btn-danger{
    background: red;
  }
}

.connection{
  margin: 0 auto;
}

.form_container{
  input, select{
    font-size: 1em;
  }

  .row{
    align-items: center;
  }

  .new{
    margin-top: 10px;
  }
}

.contract-btn{
  border: 2px solid #673b15;
  border-radius: 50%;
  background: #f29400;
  color: #fff;
  text-decoration: none;
  font-size: 20px;
  font-weight: bold;
}

/*HEADER*/
header{
  @include flex();
  justify-content: center;
  flex-direction: column;
}

nav {
  a{
    font-family: "Cabo", sans-serif;
    letter-spacing: 3px;
    font-size: 2.5rem;
  }

  ul{
    width: 100%;
    justify-content: space-around;
  }
}

.bg-light {
  background-color: #97bf0d !important;
  text-transform: uppercase;
}

.navbar-dark .navbar-nav .nav-link {
  color: #fff;
  font-size: 1.5em;

  &:hover {
    color: #673b15;
  }

  &.active{
    color: #673b15;
  }
}

/*INDEX*/

.little-title{
  color: #f29400;
  font-style: italic;
  font-size: 4rem;
  font-family: 'Smoothie', sans-serif;
}

span{
  font-weight: bold;
  color: #f29400;
}

.intro{
  text-align: center;

  ul{
    padding: 0;
  }
}

.news{
  width: 20%;
  top: 10%;
  right: 70%;
  position: absolute;
  border: solid 1px $carot;
}

/*EXPLAIN*/
.section-divider{
  display: flex;

  .container{
    padding: 0 20px;
  }
}

.btn-list{
  @include flex;
  justify-content: space-evenly;
}

/*PRODUCTOR*/

.table{
  thead>tr>th:first-child{
    width:25%
  }

  thead>tr>th:nth-child(2){
    width: 45%;
  }

  thead>tr>th:last-child{
    width: 15%;
  }

  td{
    vertical-align: middle;
  }

  figcaption{
    text-align: center;
  }

  ul{
    @include flex;
    flex-direction: column;
  }
}

@media  #{$medium-down}{

  /* Force table to not be like tables anymore */
  table, thead, tbody, th, td, tr {
    display: block;
  }

  /* Hide table headers (but not display: none;, for accessibility) */
  thead tr {
    position: absolute;
    top: -9999px;
    left: -9999px;
  }

  tr { border: 1px solid #ccc; }

  td {
    /* Behave  like a "row" */
    border: none;
    border-bottom: 1px solid #eee;
    position: relative;
    padding-left: 50%;
  }

  td:before {
    /* Now like a table header */
    position: absolute;
    /* Top/left values mimic padding */
    top: 6px;
    left: 6px;
    width: 45%;
    padding-right: 10px;
    white-space: nowrap;
  }

  /*
  Label the data
  */
  td:nth-of-type(1):before { content: ""; }
  td:nth-of-type(2):before { content: ""; }
  td:nth-of-type(3):before { content: ""; }
  td:nth-of-type(4):before { content: ""; }

  .img-label{
    width: 30%;
  }
}

/*GALERIE*/

#photos {
  line-height: 0;
  -webkit-column-count: 5;
  -webkit-column-gap: 5px;
  -moz-column-count: 5;
  -moz-column-gap: 5px;
  column-count: 5;
  column-gap: 5px;

  .myImg {
    cursor: pointer;
    transition: 0.3s;
    margin: 5px;

    &:hover {
      opacity: 0.7;
    }
  }

  .diapo-img {
    filter: brightness(100%);
  }

  /* Unopened lightbox */
  .lightbox {
    display: none;
  }

  /* Opened lightbox */
  .lightbox:target {
    position: absolute;
    left: 33%;
    top: 25%;
    width: 30%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  /* Close button */
  .lightbox .close {
    position: relative;
    display: block;
  }

  .lightbox .close::after {
    right: -1rem;
    top: -3rem;
    width: 3rem;
    height: 3rem;
    position: absolute;
    display: flex;
    z-index: 1;
    align-items: center;
    justify-content: center;
    background-color: black;
    border-radius: 50%;
    color: white;
    content: "×";
    cursor: pointer;
  }

  /* Lightbox overlay */
  .lightbox .close::before {
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    position: fixed;
    background-color: rgba(0, 0, 0, .7);
    content: "";
    cursor: default;
  }

  figure{
    figcaption{
      background-color: #222;
      color: #fff;
      padding: 15px;
      text-align: center;
      position: relative;
    }
  }

  .box-caption {
    position: absolute;
    bottom: 0;
    left: 0;
    background: rgba(80, 80, 80, 0.75);
    width: 100%;
  }
}

@media (max-width: 1000px) {
  #photos {
    -moz-column-count:    3;
    -webkit-column-count: 3;
    column-count:         3;
  }
}
@media (max-width: 800px) {
  #photos {
    -moz-column-count:    2;
    -webkit-column-count: 2;
    column-count:         2;
  }
}
@media (max-width: 400px) {
  #photos {
    -moz-column-count:    1;
    -webkit-column-count: 1;
    column-count:         1;
  }
}

/*CONTACT*/
.form-container{
  display:flex;
  text-align: center;
  justify-content: space-between;

  aside{
    width: 100%;
  }

  iframe{
    width: 100%;
    margin: 0 15px;
  }

  form{
    width: 100%;
    margin: 0 15px;
  }

  label{
    @include hidden();
  }

  input{
    font-size: 2rem;
    margin: 5px 0;
  }

  textarea{
    font-size: 2rem;
    width: 100%;
    height: 37%;
  }

  .fas, .fab{
    font-size: 4rem;
    color: #8bc636;
  }
}

.tools{
  @include flex;
  justify-content: space-around;
  margin-top: 50px;
}

/*FOOTER*/
footer {
  text-align: center;
  background-color: #97bf0d;
  color: #fff;

  ul {
    @include flex;
    justify-content: space-evenly;
  }
}

/*BOUTON SCROLL*/

.scrollUp {
  width: 40px;
  height: 40px;
  position: fixed;
  bottom: 20px;
  right: 25px;
  display: none;
  color: white;
  background-color: $carot;
  border: 1px solid #CFCDC9;
  text-align: center;
  line-height: 37px;

    &:hover {
      color: white;
      cursor: pointer;
    }
}

@media  #{$medium-down}{
  .news{
    position: initial;
    margin: 15px auto;
    width: 80%;
  }
}

@media #{$small-down} {

  .form-container{
    display: block;
    margin: 0 auto;

    form{
      width: 100%;
      margin: 0 auto;
    }
  }

  .section-divider{
    display: block;
  }

  .tools{
    flex-direction: column;
    text-align: center;
  }
}