/*------------------------------------*\
  #SETTINGS
\*------------------------------------*/

@import 'libs/normalize.css';
@import 'libs/responsive';
@import 'libs/mixin';
@import 'scss/fontawesome.scss';
@import 'scss/solid.scss';

$carot:#f29400;
$grass:#8bc636;

@font-face {
  font-family: 'Cabo';
  font-weight: normal;
  font-style: normal;
  font-display: swap;
  unicode-range: U+000-5FF;
  src:  url('../fonts/cabo/Cabo.woff') format('woff'),
        url('../fonts/cabo/Cabo.woff2') format('woff2');
}

@font-face {
  font-family: 'Smoothie';
  font-weight: normal;
  font-style: normal;
  font-display: swap;
  src:  url('../fonts/smoothie/Smoothie.woff') format('woff'),
        url('../fonts/smoothie/Smoothie.woff2') format('woff2');
}

/*------------------------------------*\
  #GLOBAL
\*------------------------------------*/

* {
  -webkit-box-sizing: border-box; /* Android ≤ 2.3, iOS ≤ 4 */
  -moz-box-sizing: border-box; /* Firefox 1+ */
  box-sizing: border-box; /* Chrome, IE 8+, Opera, Safari 5.1 */
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  margin: 0 auto;
  text-align: justify;
  background: url(../img/bg-body.svg);
  position: relative;
  height: 100%;
}

main{
  padding-bottom: 60px;
}

a {
  text-decoration: none;
  font-weight: bold;
  color: $grass;
  transition: all .3s ease-in;

  &:hover {
    color: $grass;
  }
}

img {
  max-width: 100%;
  margin: 0 auto;
}

h1{
  @include hidden();
}

h2{
  color: $carot;
  margin: 15px;
  text-align: center;
  font-size: 2em;
  font-family: 'Smoothie', sans-serif;
}

ul{
  padding: 0;
  margin: 0;
  list-style: none;
}

section{
  margin: 30px;
}

span{
  font-weight: bold;
  color: $carot;
}

.flex{
  @include flex();
  justify-content: space-evenly;
  flex-direction: column;
  text-align: center;
}

.little-title{
  color: $carot;
  font-style: italic;
  font-size: 4rem;
  font-family: 'Smoothie', sans-serif;
}

.btn {
  border: 2px solid #673b15;
  font-size: 1.8rem;
  font-weight: bold;
  margin: 10px;
  background: $carot;
  color: #fff;
  transition: all .3s ease-in;

  &:hover{
    color:#fff;
    background: darken($carot, 5);
  }
}

/*------------------------------------*\
  #GLOBAL-HEADER-PAGES
\*------------------------------------*/

header{
  @include flex();
  justify-content: center;
  flex-direction: column;

  .navbar{
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
    height: 60px;

    @media  #{$medium-down}{
      height: inherit;
    }
  }

  .navbar-collapse{
    transition: all .3s ease-in-out;
  }
}

nav {
  a{
    font-family: 'Cabo', sans-serif;
    letter-spacing: 3px;
    font-size: 2.5rem;
  }

  ul{
    width: 100%;
    justify-content: space-around;
  }
}

.bg-light {
  background-color: #97bf0d !important;
  text-transform: uppercase;
}

.navbar-dark .navbar-nav .nav-link {
  font-size: 1.4em;
  color: #fff;
  text-decoration: none;
  background: linear-gradient(to top, rgba(103, 59, 21, 0.5) 0%,
          rgba(103, 59, 21, 0.5) 10%, transparent 10.01%) no-repeat left bottom / 0 100%;
  transition: all .3s ease-in;
  font-weight: bold;

    &:hover {
      text-decoration: none;
      background-size: 100% 100%;
    }

    &.active{
      color: #673b15;
    }
}

.logo-link{
  margin: 0 auto;
  padding-top: 60px;
}

/*------------------------------------*\
  #GLOBAL-FOOTER-PAGES
\*------------------------------------*/

footer {
    text-align: center;
    background-color: #97bf0d;
    width: 100%;
    position: absolute;
    bottom: 0;

  ul {
    @include flex;
    justify-content: space-evenly;

    a{
      font-size: 1em;
      color: #fff;
      text-decoration: none;
      background: linear-gradient(to top, rgba(103, 59, 21, 0.5) 0%,
              rgba(103, 59, 21, 0.5) 10%, transparent 10.01%) no-repeat left bottom / 0 100%;
      transition: all .3s ease-in;
      font-weight: bold;
      text-transform: uppercase;
    
        &:hover {
          text-decoration: none;
          background-size: 100% 100%;
          color: rgba(255,255,255,.75);
        }
    
        &.active{
          color: #673b15;
        }
    }
  }

  small{
    color: #000;

    .credit{
      color:#000;
    }
  }
}

/*------------------------------------*\
  #HOME-PAGE
\*------------------------------------*/

#home{
  ul{
    width: 70%;
    margin: 0 auto;
  }

  li{
    margin: 15px 0;
  }
}

.letter_list{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: fit-content!important;

  li{
    margin: 0 5px;
  }
}

.news {
  width: 20%;
  top: 10%;
  right: 70%;
  position: absolute;
  text-align: center;

  p{
    font-weight: bold;
  }
}

/*------------------------------------*\
  #EXPLAIN-PAGE
\*------------------------------------*/

.btn-list{
  @include flex;
  justify-content: space-evenly;
}

/*------------------------------------*\
  #PRODUCTOR-PAGE
\*------------------------------------*/

.table{
  thead>tr>th:first-child{
    width:25%
  }

  thead>tr>th:nth-child(2){
    width: 45%;
  }

  thead>tr>th:last-child{
    width: 15%;
  }

  td{
    vertical-align: middle;
  }

  figcaption{
    text-align: center;
  }

  ul{
    @include flex;
    flex-direction: column;
  }

  caption{
    @include hidden();
  }
}

@media screen\0 {
  .ie-picture-size {
    width: 250px;
  }

  .img-label{
    width: 150px;
  }
}

@media  #{$medium-down}{

  /* Force table to not be like tables anymore */
  table, thead, tbody, th, td, tr {
    display: block;
  }

  /* Hide table headers (but not display: none;, for accessibility) */
  thead tr {
    position: absolute;
    top: -9999px;
    left: -9999px;
  }

  tr { border: 1px solid #ccc; }

  td {
    /* Behave  like a 'row' */
    border: none;
    border-bottom: 1px solid #eee;
    position: relative;
    padding-left: 50%;
  }

  td:before {
    /* Now like a table header */
    position: absolute;
    /* Top/left values mimic padding */
    top: 6px;
    left: 6px;
    width: 45%;
    padding-right: 10px;
    white-space: nowrap;
  }

  /*
  Label the data
  */
  td:nth-of-type(1):before { content: ''; }
  td:nth-of-type(2):before { content: ''; }
  td:nth-of-type(3):before { content: ''; }
  td:nth-of-type(4):before { content: ''; }

  .img-label{
    width: 30%;
  }
}

/*------------------------------------*\
  #ARTICLE-PAGE
\*------------------------------------*/
#article__section{
  article{
    margin-top: 20px;
  }

  hr{
    border-bottom: 1px solid $carot;
    width: 60%;
  }

  img {
    max-width: 400px;
  }
}

/*------------------------------------*\
  #GALLERY-PAGE
\*------------------------------------*/

#photos {
  line-height: 0;
  column-count: 5;
  column-gap: 5px;

  img{
    margin: 5px;
  }

  .img-link {
    transition: all .3s ease-in;

    &:hover {
      opacity: 0.7;
    }
  }
}

  /* Unopened lightbox */
  .lightbox {
    display: none;
  }

@media (max-width: 1000px) {
  #photos {
    column-count:         3;
  }
}
@media (max-width: 800px) {
  #photos {
    column-count:         2;
  }
}
@media (max-width: 400px) {
  #photos {
    column-count:         1;
  }
}

/*------------------------------------*\
  #CONTACT-PAGE
\*------------------------------------*/

.meet{
  text-align: center;
  margin-bottom: 40px;
}

.form-container{
  @include flex;
  text-align: center;
  justify-content: space-between;

  .form-end{
    @include flex;
    justify-content: space-evenly;
    margin: 15px 0;
  }

  aside{
    iframe{
      margin: 0 15px;
      border: 0;
    }
  }

  form{
    width: 100%;
    margin: 0 15px;
  }

  .label-hidden{
      @include hidden();
  }

  input{
    font-size: 2rem;
    margin: 5px 0;
  }

  textarea{
    font-size: 2rem;
    width: 100%;
    height: 37%;
  }

  .fas, .fab{
    font-size: 4rem;
    color: #8bc636;
  }
}

.tools{
  @include flex;
  justify-content: space-around;
  margin-top: 80px;

  .fas, .fab{
    font-size: 4rem;
    color: #8bc636;
  }

  li{
    margin: 20px 0;
  }
}

/*------------------------------------*\
  #STATUS-PAGE
\*------------------------------------*/

#status{
  text-align: left;

  h3{
    margin: 15px 0;
  }

  ul{
    list-style: inside;
    margin-left: 15px;
  }

  figure{
    text-align: center;
  }
}

/*------------------------------------*\
  #LEGAL-PAGE
\*------------------------------------*/

#legal{
  text-align: left;
}

/*------------------------------------*\
  #LOGIN-PAGE
\*------------------------------------*/

.log{
  width: 20%;
  margin: 0 auto;

  label{
    font-weight: bold;
  }
}

/*------------------------------------*\
  #DYNAMIC-SECTION
\*------------------------------------*/

/*------------------------------------*\
  #LOADER
\*------------------------------------*/

.loader {
  width: 80px;
  height: 80px;
  border: 2px solid $carot;
  border-top: 3px solid $grass;
  border-radius: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  -webkit-animation: spin 1s infinite;
  animation: spin 1s infinite;
}

@-webkit-keyframes spin {
  from{
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }to{
     -webkit-transform: rotate(360deg);
     transform: rotate(360deg);
   }
}

@keyframes spin {
  from{
    transform: rotate(0deg);
  }to{
     transform: rotate(360deg);
   }
}

#overlay{
  height: 100%;
  width: 100%;
  background: url(../img/bg-body.svg);
  position: fixed;
  left: 0;
  top: 0;
}

/*------------------------------------*\
  #SCROLL
\*------------------------------------*/

.scroll-up {
  width: 40px;
  height: 40px;
  position: fixed;
  bottom: 20px;
  right: 25px;
  display: none;
  color: #fff;
  background-color: $carot;
  border: 1px solid #CFCDC9;
  text-align: center;
  line-height: 37px;

    &:hover {
      color: #fff;
      cursor: pointer;
    }
}

/*------------------------------------*\
  #UNDERLINE-EFFECT
\*------------------------------------*/

.underline{
  color: rgb(151, 191, 13);
  text-decoration: none;
  background: linear-gradient(to top, rgba(151, 191, 13, 0.5) 0%,
          rgba(151, 191, 13, 0.5) 10%, transparent 10.01%) no-repeat left bottom / 0 100%;
  transition: all .3s ease-in;
  font-weight: bold;

  &:hover {
    text-decoration: none;
    background-size: 100% 100%;
  }
}

.white-underline{
  color: rgb(255, 255, 255);
  text-decoration: none;
  background: linear-gradient(to top, rgba(255, 255, 255, 0.5) 0%,
          rgba(255, 255, 255, 0.5) 10%, transparent 10.01%) no-repeat left bottom / 0 100%;
  transition: all .3s ease-in;
  font-weight: bold;

  &:hover {
    text-decoration: none;
    background-size: 100% 100%;
  }
}

/*------------------------------------*\
  #REVEAL
\*------------------------------------*/

.reveal-loaded .reveal [class*='reveal-'] {
  opacity: 0!important;
  transform: translateY(30px)!important;
  transition: 0s!important;
}

.reveal-loaded [class*='reveal-']{
  -webkit-transition: 1s cubic-bezier(.5,0,0,1);
  -o-transition: 1s cubic-bezier(.5,0,0,1);
  transition: 1s cubic-bezier(.5,0,0,1);
}

.reveal-loaded .reveal-2 {
  -webkit-transition-delay: .2s;
  -o-transition-delay: .2s;
  transition-delay: .2s;
}

.reveal-loaded .reveal-3 {
  -webkit-transition-delay: .3s;
  -o-transition-delay: .3s;
  transition-delay: .3s;
}

.reveal-loaded .reveal-4 {
  -webkit-transition-delay: .3s;
  -o-transition-delay: .3s;
  transition-delay: .3s;
}

.reveal-loaded .reveal-5 {
  -webkit-transition-delay: .5s;
  -o-transition-delay: .5s;
  transition-delay: .5s;
}

.reveal-loaded .reveal-6 {
  -webkit-transition-delay: .6s;
  -o-transition-delay: .6s;
  transition-delay: .6s;
}

.reveal-loaded .reveal-7 {
  -webkit-transition-delay: .7s;
  -o-transition-delay: .7s;
  transition-delay: .7s;
}


.custom-file-label{
  &::after{
    content: 'Parcourir';
  }
}

/*------------------------------------*\
  #RESPONSIVE-SECTION
\*------------------------------------*/

/*------------------------------------*\
  #LARGE-DEVICE
\*------------------------------------*/

@media #{$large-up} {
  .section-divider{
    @include flex;
  }
}

/*------------------------------------*\
  #MEDIUM-DEVICE
\*------------------------------------*/

@media  #{$medium-down}{
  .news{
    position: initial;
    margin: 15px auto;
    width: 80%;
  }

  .form-container{
    display: block;
    margin: 0 auto;

    form{
      width: 100%;
      margin: 0 auto;
    }

    aside{
      width: 100%;
    }
  }

  .section-divider{
    display: block;
  }
}

/*------------------------------------*\
  #SMALL DEVICE
\*------------------------------------*/

@media #{$small-down} {

  #home{
    ul{
      width: 100%;
    }
  }

  footer{
    position: relative;
  }

  .connection{
    width: 100%;
  }

  .section-divider{
    display: block;
  }

  .form-end{
    flex-direction: column;
  }

  .tools{
    flex-direction: column;
    text-align: center;
  }
}