{% extends 'base.html.twig' %}

{% block title "Agenda" %}

{% set active = 'agenda' %}

{% block body %}
    <section id='caldendar_page'>
        <div id='calendar'></div>
    </section>
{% endblock %}
