{% extends 'base.html.twig' %}

{% block title "Retourn\'AMAP - agenda" %}

{% set active = 'agenda' %}

{% block body %}
	<section id='caldendar_page' class='container'>
		<div id='calendar'></div>
	</section>
{% endblock %}
