{% extends 'base.html.twig' %}

{% block title 'AMAPJ' %}

{% set active = 'amapj' %}

{% block body %}
    <section id='amapj'>
        <h2>AMAPJ</h2>
        <p>Désormais pour commander auprès de nos producteurs, retournamap utilise AMAPJ<br/>Si vous êtes déjà ahérent voici le lien : </p>
        <a href='https://contrats.amapj.fr/b/retournac' target='_blank' class='btn' rel='noopener'>Mon espace AMAPJ</a>
        <p>Pour ceux qui souhaitent découvrir AMAPJ plus en détails, voici <a href='https://amapj.fr/docs_utilisateur_adherent.html' class='underline' target='_blank' rel='noopener'>le manuel de l'adhérent</a></p>
    </section>
{% endblock %}