{% extends 'base.html.twig' %}

{% block title "Statuts" %}

{% set active = "status" %}

{% block body %}

<main>
    <div class="flex" role="complementary">
        <section class="container" id="status">
            <h2>Statuts associatifs</h2>
            <article>
                <h3>Article 1 : Fondement</h3>
                <p>Il est fondé entre les adhérents aux présents statuts une association régie par la loi du 1er juillet 1901 et le décret du 16 août 1901.</p>
                <h3>Article 2 : Nom</h3>
                <p>L’association prend le nom d’Association pour le Maintien d’une Agriculture Paysanne (déposé au Journal Officiel du 4.08.2003 par Alliance Provence) <strong>RetournAMAP</strong></p>
                <h3>Article 3 : Objet</h3>
                <p>L’association a pour objet :</p>
                <ul>
                    <li>Promouvoir une agriculture respectueuse de l’environnement, des ressources naturelles, des territoires et des hommes : une agriculture durable, socialement équitable et écologiquement saine. </li>
                    <li>Contribuer à la mise en place d’une économie solidaire entre consommateurs et producteurs locaux pour favoriser le développement des productions de qualité reflétant la diversité de notre terroir et la variété des savoir-faire.</li>
                    <li>Soutenir les agriculteurs biologiques de proximité ou désirant s’engager dans une production biologique (conversion) pas forcément labélisée ou certifiée.</li>
                    <li>Permettre aux consommateurs de manger sainement dans le respect de l’environnement, à un prix juste pour le consommateur et rémunérateur pour le paysan, établi en coresponsabilité. L’association intervient dans l’organisation des relations entre les adhérents et les partenaires et la distribution des produits dans le cadre d’une gestion désintéressée. Elle ne participe pas à l’achat et la vente des denrées. Elle peut organiser tout type de manifestations en lien avec ses objectifs.</li>
                </ul>
                <p>L’association s’appuie sur les principes décrits par la Charte des AMAP en Rhône-Alpes.</p>
                <h3>Article 4 : Siège</h3>
                <p>Le siège social est fixé à l’adresse suivante : rue René Cassin, 43130 Retournac</p>
                <h3>Article 5 : Indépendance</h3>
                <p>L’association est indépendante de tout parti politique.</p>
                <h3>Article 6 : Membres actifs</h3>
                <p>Pour être membre actif de l’Association, il faut :</p>
                <ul>
                    <li>Adhérer à l’objet des présents statuts, aux principes et engagements définis par le règlement intérieur</li>
                    <li>Signer le contrat d’engagement avec le(s) producteur(s) pour une durée déterminée.</li>
                    <li>S’acquitter de la cotisation destinée :</li>
                    <ul>
                        <li>à couvrir les frais de fonctionnement de l’AMAP</li>
                        <li>adhérer à Haute-Loire Biologique par l’intermédiaire de l’AMAP</li>
                    </ul>
                </ul>
                <h3>Article 7 : Membres bienfaiteurs</h3>
                <p>Pour être membre bienfaiteur de l’Association, il faut :</p>
                <ul>
                    <li>Adhérer à l’objet des présents statuts.</li>
                    <li>S’acquitter de la cotisation.</li>
                </ul>
                <h3>Article 8 – Radiation</h3>
                <p>Pour non-paiement de la cotisation ou de l’abonnement, ou pour motif grave.</p>
                <h3>Article 9 – Ressources</h3>
                <p>Les ressources de l'association comprennent :</p>
                <ul>
                    <li>le montant des cotisations et toutes formes de ressources non contraires à la loi</li>
                    <li>les subventions, les dons</li>
                </ul>
                <h3>Article 10 – Conseil d'Administration</h3>
                <p>Le Conseil d’Administration est composé au minimum de 3 membres élus en Assemblée Générale :</p>
                <ul>
                    <li>Président,</li>
                    <li>Secrétaire,</li>
                    <li>Trésorier,</li>
                    <li>Et d'éventuels adjoints et suppléants.</li>
                </ul>
                <h3>Article 11– Réunion du Conseil d'Administration</h3>
                <p>Le Conseil d’Administration se réunit au moins 2 fois par an sur convocation du Président ou à la demande motivée d’un de ses membres.<br>Tout membre du conseil qui, sans excuse, n'aura pas assisté à 2 réunions consécutives, sera considéré comme démissionnaire.</p>
                <h3>Article 12– Assemblée générale ordinaire</h3>
                <p>L'assemblée générale ordinaire comprend tous les membres de l'association à jour de cotisation.<br>
                    L'assemblée générale ordinaire se réunit chaque année.<br>
                    Les membres de l'association sont convoqués 15 jours au moins avant la date fixée.<br>
                    L'ordre du jour est indiqué sur les convocations.<br>
                    L’AG procède au renouvellement, par tiers, des membres du Conseil d’Administration.<br>
                </p>
                <h3>Article 13- Assemblée générale extraordinaire</h3>
                <p>Une Assemblée générale extraordinaire peut être convoquée :</p>
                <ul>
                    <li>par le Président en accord avec le Conseil d’Administration,</li>
                    <li>ou à la demande d’au moins un tiers des membres à jour de leur cotisation, suivant les formalités prévues par l'article 12</li>
                </ul>
                <h3>Article 14 - Votes et décisions</h3>
                <p>Pour tous les votes du CA, et des Assemblées Générales ordinaires ou extraordinaires les décisions prises sont adoptées :<br>
                    Sans conditions de quorum et à la majorité simple des membres présents ou représentés.<br>
                    Dans le cas où cette majorité ne se dégagerait pas, la proposition mise au vote devra être revue et amendée et soumise à un nouveau vote.<br>
                    Les pouvoirs ne sont valables, ainsi que les votes, que pour les membres à jour de cotisations (maximum 2 pouvoirs par personne).<br>
                    Les décisions votées sont exécutoires immédiatement.
                </p>
                <h3>Article 15– Règlement intérieur</h3>
                <p>Un règlement intérieur peut être établi ultérieurement par le Conseil d’administration et présenté à l’Assemblée générale la plus proche.<br>
                    Ce règlement est destiné à fixer les divers points non prévus par les statuts, notamment ceux qui ont trait au fonctionnement de l'association.
                </p>
                <h3>Article 16– Dissolution</h3>
                <p>La dissolution peut être prononcée conformément à l'article 9 de la loi du 1er juillet 1901 et au décret du 16 août 1901.Article 11.</p>
            </article>
            <figure>
                <img src="{{ asset('img/signature.png') }}" alt="signature du président">
                <figcaption>Guillaume Charmasson - Président</figcaption>
            </figure>
        </section>
    </div>
</main>
{% endblock %}


