{% extends 'base.html.twig' %}

{% block title "Retourn'Amap" %}

{% block body %}
<main>
    <div class="flex">
        <section class="container intro">
            <h1>Retourn'amap</h1>
            <p class="little-title">L’amap est plus qu’un “panier” !</p>
            <ul>
                <li><span>A</span> comme <span>Association</span></li>
                <p>En AMAP, pas d’intermédiaire commercial. C’est le seul système qui reverse <b>100% du montant du panier au
                        paysan.</b> Ce sont les amapiens qui s’organisent pour faire vivre le partenariat.</p>
                <li><span>M</span> comme <span>Maintien</span></li>
                <p><b>Chaque amapien s’engage sur une saison :</b> le paysan a l’assurance d’être rémunéré toute l’année pour son
                    travail, et d’écouler sa production ! Cela permet de maintenir l’agriculture paysanne dans nos régions.</p>
                <li><span>AP</span> comme <span>Agriculture Paysanne</span></li>
                <p>L’AMAP soutient une <b>agriculture de proximité, à taille humaine, qui concilie protection de la nature, emploi
                        agricole, pérennité des fermes et qui rétablit le lien entre paysans et consommateurs.</b></p>
            </ul>
        </section>
        <section class="news">
            <h4 class="little-title">Actualité</h4>
            <p>News du jour</p>
        </section>
    </div>
</main>
{% endblock %}
