{% extends 'base.html.twig' %}

{% set active = null %}

{% block title "Gestion admin"%}

{% block body %}
<main>
    <div class="flex" role="complementary">
        <section class="container">
            <h2>Gestion du contenu</h2>
            <ul>
                <li>
                    <a href="{{ path('admin.productor.index') }}" class="btn">Gérer les producteurs</a>
                </li>
                <li>
                    <a href="{{ path('admin.gallery.index') }}" class="btn">Gérer la gallerie</a>
                </li>
                <li>
                    <a href="{{ path('admin.news.index') }}" class="btn">Gérer l'onglet actualité</a>
                </li>
            </ul>
        </section>
    </div>
</main>
{% endblock %}

