{% extends 'base.html.twig' %}

{% form_theme form 'bootstrap_4_layout.html.twig' %}

{% set active = null %}
{% set edit = true %}

{% block title "Modifier l'actualité" %}

{% block body %}
    <main>
        <div class="flex">
            <section class="container">
                <h2>Modifier l'actualité</h2>
                {{ include('admin/news/_form.html.twig', {button: 'Sauvegarder'}) }}
            </section>
        </div>
    </main>
{% endblock %}

