{% extends 'base.html.twig' %}

{% form_theme form 'bootstrap_4_layout.html.twig' %}

{% set active = null %}
{% set edit = null %}

{% block title "Créer une actualité" %}

{% block body %}
    <main>
        <div class="flex" role="complementary">
            <section class="container">
                <h2>Créer une actualité</h2>
                {{ include('admin/news/_form.html.twig', {button: 'Enregistrer'}) }}
            </section>
        </div>
    </main>
{% endblock %}

