{% extends 'base.html.twig' %}

{% form_theme form 'bootstrap_4_layout.html.twig' %}

{% set active = null %}

{% block title "Gérer les producteurs" %}

{% block body %}
<main>
    <div class="flex">
        <section class="container">
            <h2>Modifier le producteur</h2>
            {{ form_start(form) }}
                {{ form_widget(form) }}
                <button class="btn btn-primary">Sauvegarder</button>
            {{ form_end(form) }}
        </section>
    </div>
</main>
{% endblock %}

