{% extends 'base.html.twig' %}

{% form_theme form 'bootstrap_4_layout.html.twig' %}

{% set active = null %}

{% block title "Gérer les producteurs" %}

{% block body %}
<main>
    <div class="flex">
        <section class="container">
            <h2>Modifier le producteur</h2>
            {{ include('admin/productor/_form.htm.twig', {button: 'Sauvegarder'}) }}
        </section>
    </div>
</main>
{% endblock %}

