{% extends 'base.html.twig' %}

{% form_theme form 'bootstrap_4_layout.html.twig' %}

{% set active = null %}
{% set edit = null %}

{% block title "Créer un producteur" %}

{% block body %}
    <main>
        <div class="flex">
            <section class="container">
                <h2>Créer un producteur</h2>
                {{ include('admin/productor/_form.html.twig', {button: 'Enregistrer'}) }}
            </section>
        </div>
    </main>
{% endblock %}
