{% extends 'base.html.twig' %}

{% form_theme form 'bootstrap_4_layout.html.twig' %}

{% set active = null %}

{% block title "Modifier l'image" %}

{% block body %}
    <main>
        <div class="flex" role="complementary">
            <section class="container">
                <h2>Modifier l'image</h2>
                {{ include('admin/gallery/_form.html.twig', {button: 'Sauvegarder'}) }}
            </section>
        </div>
    </main>
{% endblock %}

