<!DOCTYPE html>
<html lang="fr">
	<main>
		<h3>Nouveau message de
			{{ message.name }}</h3>
		<p>Mail :
			{{ message.mail }}</p>
		<p>Sujet :
			{{ message.subject }}</p>
		<p>{{ message.content }}</p>
	</main>
</html>
